stages:
  - package
  - build
  - rollout

variables:
  VERSION_FILE: target/version

mvn:package:
  image: docker-registry.default.svc:5000/backpackcloud/maven
  stage: package
  artifacts:
    paths:
      - target/*
  script:
    - build
  only:
    - develop

docker:build:
  image: docker-registry.default.svc:5000/backpackcloud/docker
  stage: build
  variables:
    DOCKERFILE: src/main/docker/Dockerfile.jvm
  script:
    - build
    - push
  dependencies:
    - mvn:package
  only:
    - develop

openshift:tag:
  image: docker-registry.default.svc:5000/backpackcloud/oc
  stage: rollout
  script:
    - tag latest
  only:
    - develop